body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  margin: 0px 30px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #aaa;
}

header h1 {
  color: #333;
  margin: 0;
  font-size: 24px;
}

header img {
  width: 200px;
  margin-right: 10px;
}

.company-info {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-left: 20px;
  position: relative;
}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  color: #aaa;
}

header li:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #aaa;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

header li:hover:before {
  transform: scaleX(1);
}

banner {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

banner img {
  position: absolute;
  width: 100%;
}

banner h2 {
  position: absolute;
  text-align: center;
  width: 50%;
  font-size: 50px;
  text-shadow: 2px 2px 2px rgba(72, 72, 72, 0.8);
}

.Memories{
  background-color: #ffee02;
  padding: 0 10px;
  border-radius: 5px;
  color: white;
  font-weight:bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

section {
  padding: 80px;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.section-content h2 {
  margin-bottom: 10px;
  padding: 10px;
  max-width: 100%;
}

.section-content p {
  margin-bottom: 20px;
  padding: 10px;
  max-width: 100%;
}

.section-content img {
  max-width: 50%;
  height: max-content;
  margin-top: 20px;
  padding: 10px;
  border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
  border-radius:10px;
}

form {
  padding: 50px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: #ccc;
  border-radius: 20px;
  border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
}

form input, form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

form button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

footer {
  color: #333;
  padding: 50px;
  text-align: center;
}

.social-media-links {
  margin-top: 10px;
}

.social-media-links a {
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-media-links a:hover {
  color: #aaa;
}

.socialicons{
    width: 20px;
}

@media (max-width: 768px) {
header{
  padding: 10px;
}
header img{
  width: 100px;
}
header h1{
  font-size: 15px;
}
header ul{
  font-size: 15px;
}
banner img{
  height: 100%;
  width: max-content;
}
banner h2{
  font-size: 40px;
}

section{
  padding: 50px;
}
.section-content{
  display: flex;
  flex-direction: column;
  text-align:justify;
}
.section-content img{
  max-width: 100%;
}

footer{
  padding: 5px;
  height: 50px;
  font-size: 13px;
}
.socialicons{
  width: 13px;
}
footer ul{
  display: none;
}
}